* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

:root {
  --blue: ##a9d585;
  --background-color: #dcf4e8;
  --boxcolor: #77d4a6;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: var(--background-color);
  height: 100vh;
  margin: 0 auto;
}

li {
  padding: 0 5px;
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  font-size: 1.2em;
  padding: 10px;
}

header {
  padding: 0.8em;
  margin-bottom: 1em;
  background-color: #d3e3c6;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-flex {
  display: flex;
  margin-right: 10px;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px;
}

.btn-donate {
  margin: 0 0.5em;
  padding: 0.4em;
  border-radius: 5px;
  background-color: #a8ceba;
  border: none;
}

.btn-donate > * {
  text-decoration: none;
  padding: 6px;
  color: black;
}
.btn-dont {
  padding: 0.5em 0.4em;
  margin: 1em;
  border-radius: 5px;
}

.btn-dont:hover {
  box-shadow: 10 0 0 10px gainsboro;
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
}

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
}

.bio-container {
  display: flex;
  justify-content: space-between;
  background-color: #daefc7;
  padding: 20px;
  text-align: start;
  max-width: fit-content;
}

.bio {
  margin-right: 10px;
}

#bio-info {
  margin-top: 1.2em;
  margin-right: 1em;
  padding: 1em;
  background-color: #cbe0b9;
}

#kira-photo {
  box-shadow: 0 0 8px 0 black;
}

#name {
  font-size: 1.5rem;
  padding-left: 10px;
}
